#-----------------------------------------------------------------------
# Real-time two-oncoming experiment: ego-first phase table.
#-----------------------------------------------------------------------

project_name = "turn_ego_first_threshold_rt";
user_dynamics_file = "turn_ego_first_dynamics.cl";

sampling_period = "0.1";
ode_steps = "100";

max_basis_elements = "50000";

states{
	dim = "3";
	eta = "0.0035,0.1,0.006";
	lb  = "-25.0,0.0,-50.0";
	ub  = "10.0,10.0,10.0";
	err = "0.0,0.0,0.0";
	priorities = "0,0,1";
}

inputs{
	dim = "1";
	eta = "50.0";
	lb  = "-1800.0";
	ub  = "1200.0";
}

disturbances{
	dim = "0";
}

data = "raw";
save_transitions = "false";
save_controller = "false";
implement = "no";
benchmark_count = "1";
record_basis_evolution = "false";
use_threshold_table = "true";
use_tt_only = "true";
use_tt_only_gpu = "true";
use_inline_dynamics = "true";
use_prefix_sweep = "false";
threshold_d_star = "0";
use_bitmap_gfp = "false";
extract_basis = "false";

post{ useode = "false"; codeonly = "true"; xx1 = "0"; xx2 = "0"; xx3 = "0"; }
growth{ useode = "false"; codeonly = "true"; maxposts = "64"; rr1 = "0"; rr2 = "0"; rr3 = "0"; }
