# Configuration for safe set computation using monotone synthesis
project_name = "safe_set";
data = "raw";
save_transitions = "false";
save_controller = "true";

samplingperiod = "0.1";

states{
    dim = "2";
    eta = "0.2,0.1";
    lb  = "5.0,0.0";
    ub  = "80.0,20.0";
    err = "0.0,0.0";
}

inputs{
    dim = "1";
    eta = "0.1";
    lb  = "-3.0";
    ub  = "3.0";
    err = "0.0";
}

disturbances{
    dim = "1";
    eta = "0.1";
    lb  = "0.0";
    ub  = "20.0";
    err = "0.0";
}

post{
    useode = "false";
    xx1 = "x1 + 20.0*0.1 - x2*0.1 - 0.5*u1*0.1*0.1";
    xx2 = "x2 + u1*0.1";
}

growth{
    useode = "false";
    maxposts = "4";
    rr1 = "r1";
    rr2 = "r2";
}

safe{
    count = "1";
    s1{type="rectangle"; h="{5.0,80.0},{0.0,20.0}";}
}

