#-----------------------------------------------------------------------
# File:        pfacesDefaultConfiguration.cfg
#-----------------------------------------------------------------------
# Author: M-Khaled Mahmoud
# Date created: 
# Description: A configuration file for the computation kernel and its driver.
#-----------------------------------------------------------------------

# Project data
# -------------------------
# (Project name) is essential. It will be used for names of output files.
# (synthesis_pack) is optional and defines how many synthesis tasks are packed together
#  and its values can be :
#	1- off: meaning one synthesis task at a time
#	2- x%%: where x is positive value between 0 and 99 as percentage of the domain diameter [0% = size 1].
#	3- x  : where x is non zero positive value representing exact number of packed synthesis tasks.
project_name = "xxxx";
synthesis_pack = "off";
online_mode = "false";

# Output Memory Model
# -------------------------
# The (data) tells the tool which memory model to use when saving results
# use the values : raw | bits | bitmap | bdd
data = "raw";
save_transitions = "false";
save_controller = "true";

# Code Generation
# -------------------------
# The (implement)  tells the tool which implememtation is used for code generation
# use the values : no | cpp | c | vhdl | verilog
implement = "cpp";


# Sampling period
# -------------------------
samplingperiod = "0.0";


# State/Input sets
# -------------------------
states{
	dim = "0";
	eta = "xxxx";
	lb  = "xxxx";
	ub  = "xxxx";
	err = "xxxx";
}
inputs{
	dim = "0";
	eta = "xxxx";
	lb  = "xxxx";
	ub  = "xxxx";
	err = "xxxx";
}

# System-post dynamics
# -------------------------
# Your post variables should start with (xx) followed by the index of the dimension (starting from 1 not 0).
# Maximum number of dimensions is (states.dim)
# If useode is specified, the ODE solver will be used to solve the dynamics.
# Using initcode_XX (with XX from 1 to 30), you can define some initialization code or variables 
# to be used inside the dynamics equations.
# In dynamics, you are allowed to use:
#  - array indexing to access states in x (e.g., x1 as the first state)
#  - array indexing to access inputs in u (e.g., u1 as the first input)
#  - any math function from: https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/mathFunctions.html
post{
	useode = "false";
	codeonly = "false";
	
    initcode_1  = "opencl-code";
    initcode_2  = "opencl-code";
	initcode_3  = "opencl-code";
	initcode_4  = "opencl-code";
	initcode_5  = "opencl-code";
	initcode_6  = "opencl-code";
	initcode_7  = "opencl-code";
	initcode_8  = "opencl-code";
	initcode_9  = "opencl-code";
	initcode_10 = "opencl-code";
	initcode_11 = "opencl-code";
	initcode_12 = "opencl-code";
	initcode_13 = "opencl-code";
	initcode_14 = "opencl-code";
	initcode_15 = "opencl-code";
	initcode_16 = "opencl-code";
	initcode_17 = "opencl-code";
	initcode_18 = "opencl-code";
	initcode_19 = "opencl-code";
	initcode_20 = "opencl-code";
	initcode_21 = "opencl-code";
	initcode_22 = "opencl-code";
	initcode_23 = "opencl-code";
	initcode_24 = "opencl-code";
	initcode_25 = "opencl-code";
	initcode_26 = "opencl-code";
	initcode_27 = "opencl-code";
	initcode_28 = "opencl-code";
	initcode_29 = "opencl-code";
	initcode_30 = "opencl-code";
	
	xx1 = "EMPTY";
	xx2 = "EMPTY";
	xx3 = "EMPTY";
	xx4 = "EMPTY";
	xx5 = "EMPTY";
	xx6 = "EMPTY";
	xx7 = "EMPTY";
	xx8 = "EMPTY";
	xx9 = "EMPTY";
	xx10 = "EMPTY";
	xx11 = "EMPTY";
	xx12 = "EMPTY";
	xx13 = "EMPTY";
	xx14 = "EMPTY";
	xx15 = "EMPTY";
	xx16 = "EMPTY";
	xx17 = "EMPTY";
	xx18 = "EMPTY";
	xx19 = "EMPTY";
	xx20 = "EMPTY";
	xx21 = "EMPTY";
	xx22 = "EMPTY";
	xx23 = "EMPTY";
	xx24 = "EMPTY";
	xx25 = "EMPTY";
	xx26 = "EMPTY";
	xx27 = "EMPTY";
	xx28 = "EMPTY";
	xx29 = "EMPTY";
	xx30 = "EMPTY";	
	xx31 = "EMPTY";
	xx32 = "EMPTY";
	xx33 = "EMPTY";
	xx34 = "EMPTY";
	xx35 = "EMPTY";
	xx36 = "EMPTY";
	xx37 = "EMPTY";
	xx38 = "EMPTY";
	xx39 = "EMPTY";
	xx40 = "EMPTY";	
	xx41 = "EMPTY";
	xx42 = "EMPTY";
	xx43 = "EMPTY";
	xx44 = "EMPTY";
	xx45 = "EMPTY";
	xx46 = "EMPTY";
	xx47 = "EMPTY";
	xx48 = "EMPTY";
	xx49 = "EMPTY";
	xx50 = "EMPTY";	
	xx51 = "EMPTY";
	xx52 = "EMPTY";
	xx53 = "EMPTY";
	xx54 = "EMPTY";
	xx55 = "EMPTY";
	xx56 = "EMPTY";
	xx57 = "EMPTY";
	xx58 = "EMPTY";
	xx59 = "EMPTY";
	xx60 = "EMPTY";	
	xx61 = "EMPTY";
	xx62 = "EMPTY";
	xx63 = "EMPTY";
	xx64 = "EMPTY";
	xx65 = "EMPTY";
	xx66 = "EMPTY";
	xx67 = "EMPTY";
	xx68 = "EMPTY";
	xx69 = "EMPTY";
	xx70 = "EMPTY";	
	xx71 = "EMPTY";
	xx72 = "EMPTY";
	xx73 = "EMPTY";
	xx74 = "EMPTY";
	xx75 = "EMPTY";
	xx76 = "EMPTY";
	xx77 = "EMPTY";
	xx78 = "EMPTY";
	xx79 = "EMPTY";
	xx80 = "EMPTY";	
	xx81 = "EMPTY";
	xx82 = "EMPTY";
	xx83 = "EMPTY";
	xx84 = "EMPTY";
	xx85 = "EMPTY";
	xx86 = "EMPTY";
	xx87 = "EMPTY";
	xx88 = "EMPTY";
	xx89 = "EMPTY";
	xx90 = "EMPTY";	
	xx91 = "EMPTY";
	xx92 = "EMPTY";
	xx93 = "EMPTY";
	xx94 = "EMPTY";
	xx95 = "EMPTY";
	xx96 = "EMPTY";
	xx97 = "EMPTY";
	xx98 = "EMPTY";
	xx99 = "EMPTY";
	xx100 = "EMPTY";	

    finishcode_1  = "opencl-code";
	finishcode_2  = "opencl-code";
	finishcode_3  = "opencl-code";
	finishcode_4  = "opencl-code";
	finishcode_5  = "opencl-code";
	finishcode_6  = "opencl-code";
	finishcode_7  = "opencl-code";
	finishcode_8  = "opencl-code";
	finishcode_9  = "opencl-code";
	finishcode_10  = "opencl-code";
	finishcode_11  = "opencl-code";
	finishcode_12  = "opencl-code";
	finishcode_13  = "opencl-code";
	finishcode_14  = "opencl-code";
	finishcode_15  = "opencl-code";
	finishcode_16  = "opencl-code";
	finishcode_17  = "opencl-code";
	finishcode_18  = "opencl-code";
	finishcode_19  = "opencl-code";
	finishcode_20  = "opencl-code";
	finishcode_21  = "opencl-code";
	finishcode_22  = "opencl-code";
	finishcode_23  = "opencl-code";
	finishcode_24  = "opencl-code";
	finishcode_25  = "opencl-code";
	finishcode_26  = "opencl-code";
	finishcode_27  = "opencl-code";
	finishcode_28  = "opencl-code";
	finishcode_29  = "opencl-code";
	finishcode_30  = "opencl-code";
}

# System-growth dynamics
# -------------------------
# Your growth variables should start with (rr) followed by the index of the dimension (starting from 1 not 0).
# Maximum number of dimensions is (states.dim)
# If 'useode' is specified, the ODE solver will be used to solve the dynamics.
# The 'maxposts' limits the iteration over post states in OARS and its default value is 64.
# Using initcode_XX (with XX from 1 to 30), you can define some initialization code or variables 
# to be used inside the dynamics equations.
# In dynamics, you are allowed to use:
#  - array indexing to access radius in r (e.g., r1 as the first radius)
#  - array indexing to access inputs in u (e.g., u1 as the first input)
#  - any math function from: https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/mathFunctions.html
growth{
	useode = "false";
	codeonly = "false";
	maxposts = "64";
	
    initcode_1  = "opencl-code";
    initcode_2  = "opencl-code";
	initcode_3  = "opencl-code";
	initcode_4  = "opencl-code";
	initcode_5  = "opencl-code";
	initcode_6  = "opencl-code";
	initcode_7  = "opencl-code";
	initcode_8  = "opencl-code";
	initcode_9  = "opencl-code";
	initcode_10 = "opencl-code";
	initcode_11 = "opencl-code";
	initcode_12 = "opencl-code";
	initcode_13 = "opencl-code";
	initcode_14 = "opencl-code";
	initcode_15 = "opencl-code";
	initcode_16 = "opencl-code";
	initcode_17 = "opencl-code";
	initcode_18 = "opencl-code";
	initcode_19 = "opencl-code";
	initcode_20 = "opencl-code";
	initcode_21 = "opencl-code";
	initcode_22 = "opencl-code";
	initcode_23 = "opencl-code";
	initcode_24 = "opencl-code";
	initcode_25 = "opencl-code";
	initcode_26 = "opencl-code";
	initcode_27 = "opencl-code";
	initcode_28 = "opencl-code";
	initcode_29 = "opencl-code";
	initcode_30 = "opencl-code";	
	
    rr1 = "EMPTY";
    rr2 = "EMPTY";	
	rr3 = "EMPTY";
	rr4 = "EMPTY";
	rr5 = "EMPTY";
	rr6 = "EMPTY";
	rr7 = "EMPTY";
	rr8 = "EMPTY";
	rr9 = "EMPTY";
	rr10 = "EMPTY";
	rr11 = "EMPTY";
	rr12 = "EMPTY";
	rr13 = "EMPTY";
	rr14 = "EMPTY";
	rr15 = "EMPTY";
	rr16 = "EMPTY";
	rr17 = "EMPTY";
	rr18 = "EMPTY";
	rr19 = "EMPTY";
	rr20 = "EMPTY";
	rr21 = "EMPTY";
	rr22 = "EMPTY";
	rr23 = "EMPTY";
	rr24 = "EMPTY";
	rr25 = "EMPTY";
	rr26 = "EMPTY";
	rr27 = "EMPTY";
	rr28 = "EMPTY";
	rr29 = "EMPTY";
	rr30 = "EMPTY";
	rr31 = "EMPTY";
	rr32 = "EMPTY";
	rr33 = "EMPTY";
	rr34 = "EMPTY";
	rr35 = "EMPTY";
	rr36 = "EMPTY";
	rr37 = "EMPTY";
	rr38 = "EMPTY";
	rr39 = "EMPTY";
	rr40 = "EMPTY";
	rr41 = "EMPTY";
	rr42 = "EMPTY";
	rr43 = "EMPTY";
	rr44 = "EMPTY";
	rr45 = "EMPTY";
	rr46 = "EMPTY";
	rr47 = "EMPTY";
	rr48 = "EMPTY";
	rr49 = "EMPTY";
	rr50 = "EMPTY";
	rr51 = "EMPTY";
	rr52 = "EMPTY";
	rr53 = "EMPTY";
	rr54 = "EMPTY";
	rr55 = "EMPTY";
	rr56 = "EMPTY";
	rr57 = "EMPTY";
	rr58 = "EMPTY";
	rr59 = "EMPTY";
	rr60 = "EMPTY";
	rr61 = "EMPTY";
	rr62 = "EMPTY";
	rr63 = "EMPTY";
	rr64 = "EMPTY";
	rr65 = "EMPTY";
	rr66 = "EMPTY";
	rr67 = "EMPTY";
	rr68 = "EMPTY";
	rr69 = "EMPTY";
	rr70 = "EMPTY";
	rr71 = "EMPTY";
	rr72 = "EMPTY";
	rr73 = "EMPTY";
	rr74 = "EMPTY";
	rr75 = "EMPTY";
	rr76 = "EMPTY";
	rr77 = "EMPTY";
	rr78 = "EMPTY";
	rr79 = "EMPTY";
	rr80 = "EMPTY";
	rr81 = "EMPTY";
	rr82 = "EMPTY";
	rr83 = "EMPTY";
	rr84 = "EMPTY";
	rr85 = "EMPTY";
	rr86 = "EMPTY";
	rr87 = "EMPTY";
	rr88 = "EMPTY";
	rr89 = "EMPTY";
	rr90 = "EMPTY";
	rr91 = "EMPTY";
	rr92 = "EMPTY";
	rr93 = "EMPTY";
	rr94 = "EMPTY";
	rr95 = "EMPTY";
	rr96 = "EMPTY";
	rr97 = "EMPTY";
	rr98 = "EMPTY";
	rr99 = "EMPTY";
	rr100 = "EMPTY";

    finishcode_1  = "opencl-code";
	finishcode_2  = "opencl-code";
	finishcode_3  = "opencl-code";
	finishcode_4  = "opencl-code";
	finishcode_5  = "opencl-code";
	finishcode_6  = "opencl-code";
	finishcode_7  = "opencl-code";
	finishcode_8  = "opencl-code";
	finishcode_9  = "opencl-code";
	finishcode_10  = "opencl-code";
	finishcode_11  = "opencl-code";
	finishcode_12  = "opencl-code";
	finishcode_13  = "opencl-code";
	finishcode_14  = "opencl-code";
	finishcode_15  = "opencl-code";
	finishcode_16  = "opencl-code";
	finishcode_17  = "opencl-code";
	finishcode_18  = "opencl-code";
	finishcode_19  = "opencl-code";
	finishcode_20  = "opencl-code";
	finishcode_21  = "opencl-code";
	finishcode_22  = "opencl-code";
	finishcode_23  = "opencl-code";
	finishcode_24  = "opencl-code";
	finishcode_25  = "opencl-code";
	finishcode_26  = "opencl-code";
	finishcode_27  = "opencl-code";
	finishcode_28  = "opencl-code";
	finishcode_29  = "opencl-code";
	finishcode_30  = "opencl-code";
}

# Obstacles for specifications
# -----------------------------------------
# Number of obstacles is specified in (count).
# Your obstacles should start with (ob) followed by an index (starting from 1 not 0).
# Each obstacle is a scope and should contain its type and required variables.
# For ob#.type = "rectangle", specify the per-dimension bounds in (h) as a comma-sepaarated list.
obstacles{
	count="0";
	ob1{ type="xxxx"; h="xxxx";}
	ob2{ type="xxxx"; h="xxxx";}
	ob3{ type="xxxx"; h="xxxx";}
	ob4{ type="xxxx"; h="xxxx";}
	ob5{ type="xxxx"; h="xxxx";}
	ob6{ type="xxxx"; h="xxxx";}
	ob7{ type="xxxx"; h="xxxx";}
	ob8{ type="xxxx"; h="xxxx";}
	ob9{ type="xxxx"; h="xxxx";}
	ob10{ type="xxxx"; h="xxxx";}
	ob11{ type="xxxx"; h="xxxx";}
	ob12{ type="xxxx"; h="xxxx";}
	ob13{ type="xxxx"; h="xxxx";}
	ob14{ type="xxxx"; h="xxxx";}
	ob15{ type="xxxx"; h="xxxx";}
	ob16{ type="xxxx"; h="xxxx";}
	ob17{ type="xxxx"; h="xxxx";}
	ob18{ type="xxxx"; h="xxxx";}
	ob19{ type="xxxx"; h="xxxx";}
	ob20{ type="xxxx"; h="xxxx";}
	ob21{ type="xxxx"; h="xxxx";}
	ob22{ type="xxxx"; h="xxxx";}
	ob23{ type="xxxx"; h="xxxx";}
	ob24{ type="xxxx"; h="xxxx";}
	ob25{ type="xxxx"; h="xxxx";}
	ob26{ type="xxxx"; h="xxxx";}
	ob27{ type="xxxx"; h="xxxx";}
	ob28{ type="xxxx"; h="xxxx";}
	ob29{ type="xxxx"; h="xxxx";}
	ob30{ type="xxxx"; h="xxxx";}
	ob31{ type="xxxx"; h="xxxx";}
	ob32{ type="xxxx"; h="xxxx";}
	ob33{ type="xxxx"; h="xxxx";}
	ob34{ type="xxxx"; h="xxxx";}
	ob35{ type="xxxx"; h="xxxx";}
	ob36{ type="xxxx"; h="xxxx";}
	ob37{ type="xxxx"; h="xxxx";}
	ob38{ type="xxxx"; h="xxxx";}
	ob39{ type="xxxx"; h="xxxx";}
	ob40{ type="xxxx"; h="xxxx";}
	ob41{ type="xxxx"; h="xxxx";}
	ob42{ type="xxxx"; h="xxxx";}
	ob43{ type="xxxx"; h="xxxx";}
	ob44{ type="xxxx"; h="xxxx";}
	ob45{ type="xxxx"; h="xxxx";}
	ob46{ type="xxxx"; h="xxxx";}
	ob47{ type="xxxx"; h="xxxx";}
	ob48{ type="xxxx"; h="xxxx";}
	ob49{ type="xxxx"; h="xxxx";}
	ob50{ type="xxxx"; h="xxxx";}
}

# A target for reach specifications
# -----------------------------------------
# For type = "rectangle", specify the per-dimension bounds in (h) as a comma-sepaarated list.
target{ 
	count="0"; 
	t1{ type="xxxx"; h="xxxx";}
	t2{ type="xxxx"; h="xxxx";}
	t3{ type="xxxx"; h="xxxx";}
	t4{ type="xxxx"; h="xxxx";}
	t5{ type="xxxx"; h="xxxx";}
	t6{ type="xxxx"; h="xxxx";}
	t7{ type="xxxx"; h="xxxx";}
	t8{ type="xxxx"; h="xxxx";}
	t9{ type="xxxx"; h="xxxx";}
	t10{ type="xxxx"; h="xxxx";}
	t11{ type="xxxx"; h="xxxx";}
	t12{ type="xxxx"; h="xxxx";}
	t13{ type="xxxx"; h="xxxx";}
	t14{ type="xxxx"; h="xxxx";}
	t15{ type="xxxx"; h="xxxx";}
	t16{ type="xxxx"; h="xxxx";}
	t17{ type="xxxx"; h="xxxx";}
	t18{ type="xxxx"; h="xxxx";}
	t19{ type="xxxx"; h="xxxx";}
	t20{ type="xxxx"; h="xxxx";}	
	t21{ type="xxxx"; h="xxxx";}
	t22{ type="xxxx"; h="xxxx";}
	t23{ type="xxxx"; h="xxxx";}
	t24{ type="xxxx"; h="xxxx";}
	t25{ type="xxxx"; h="xxxx";}
	t26{ type="xxxx"; h="xxxx";}
	t27{ type="xxxx"; h="xxxx";}
	t28{ type="xxxx"; h="xxxx";}
	t29{ type="xxxx"; h="xxxx";}
	t30{ type="xxxx"; h="xxxx";}
	t31{ type="xxxx"; h="xxxx";}
	t32{ type="xxxx"; h="xxxx";}
	t33{ type="xxxx"; h="xxxx";}
	t34{ type="xxxx"; h="xxxx";}
	t35{ type="xxxx"; h="xxxx";}
	t36{ type="xxxx"; h="xxxx";}
	t37{ type="xxxx"; h="xxxx";}
	t38{ type="xxxx"; h="xxxx";}
	t39{ type="xxxx"; h="xxxx";}
	t40{ type="xxxx"; h="xxxx";}	
	t41{ type="xxxx"; h="xxxx";}
	t42{ type="xxxx"; h="xxxx";}
	t43{ type="xxxx"; h="xxxx";}
	t44{ type="xxxx"; h="xxxx";}
	t45{ type="xxxx"; h="xxxx";}
	t46{ type="xxxx"; h="xxxx";}
	t47{ type="xxxx"; h="xxxx";}
	t48{ type="xxxx"; h="xxxx";}
	t49{ type="xxxx"; h="xxxx";}
	t50{ type="xxxx"; h="xxxx";}
}


# A safe for safety specifications
# -----------------------------------------
# For type = "rectangle", specify the per-dimension bounds in (h) as a comma-sepaarated list.
safe{ 
	count="0"; 
	s1{ type="xxxx"; h="xxxx";}
	s2{ type="xxxx"; h="xxxx";}
	s3{ type="xxxx"; h="xxxx";}
	s4{ type="xxxx"; h="xxxx";}
	s5{ type="xxxx"; h="xxxx";}
	s6{ type="xxxx"; h="xxxx";}
	s7{ type="xxxx"; h="xxxx";}
	s8{ type="xxxx"; h="xxxx";}
	s9{ type="xxxx"; h="xxxx";}
	s10{ type="xxxx"; h="xxxx";}
	s11{ type="xxxx"; h="xxxx";}
	s12{ type="xxxx"; h="xxxx";}
	s13{ type="xxxx"; h="xxxx";}
	s14{ type="xxxx"; h="xxxx";}
	s15{ type="xxxx"; h="xxxx";}
	s16{ type="xxxx"; h="xxxx";}
	s17{ type="xxxx"; h="xxxx";}
	s18{ type="xxxx"; h="xxxx";}
	s19{ type="xxxx"; h="xxxx";}
	s20{ type="xxxx"; h="xxxx";}
	s21{ type="xxxx"; h="xxxx";}
	s22{ type="xxxx"; h="xxxx";}
	s23{ type="xxxx"; h="xxxx";}
	s24{ type="xxxx"; h="xxxx";}
	s25{ type="xxxx"; h="xxxx";}
	s26{ type="xxxx"; h="xxxx";}
	s27{ type="xxxx"; h="xxxx";}
	s28{ type="xxxx"; h="xxxx";}
	s29{ type="xxxx"; h="xxxx";}
	s30{ type="xxxx"; h="xxxx";}
	s31{ type="xxxx"; h="xxxx";}
	s32{ type="xxxx"; h="xxxx";}
	s33{ type="xxxx"; h="xxxx";}
	s34{ type="xxxx"; h="xxxx";}
	s35{ type="xxxx"; h="xxxx";}
	s36{ type="xxxx"; h="xxxx";}
	s37{ type="xxxx"; h="xxxx";}
	s38{ type="xxxx"; h="xxxx";}
	s19{ type="xxxx"; h="xxxx";}
	s40{ type="xxxx"; h="xxxx";}	
	s41{ type="xxxx"; h="xxxx";}
	s42{ type="xxxx"; h="xxxx";}
	s43{ type="xxxx"; h="xxxx";}
	s44{ type="xxxx"; h="xxxx";}
	s45{ type="xxxx"; h="xxxx";}
	s46{ type="xxxx"; h="xxxx";}
	s47{ type="xxxx"; h="xxxx";}
	s48{ type="xxxx"; h="xxxx";}
	s49{ type="xxxx"; h="xxxx";}
	s50{ type="xxxx"; h="xxxx";}	
}

